select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}
option.option_padding
{
	padding-left:25px;
}
.text-center-img{
    text-align: -webkit-center!important;
}
.height_145{
    height: 145px!important;
}
#error{
	display:none;
	margin:0;
}
.wait
{
	position: relative;
    top: -26px;
}
.p0
{
    padding: 0px;
}
.p10
{
    padding: 10px;
}
.p15
{
    padding: 15px;
}
.p20
{
    padding: 20px;
}
.p25
{
    padding: 25px;
}
.p30
{
    padding: 30px;
}
.pt10
{
    padding-top: 10px;
}
.pt15
{
    padding-top: 15px;
}
.pt20
{
    padding-top: 20px;
}
.pt25
{
    padding-top: 25px;
}
.pt30
{
    padding-top: 30px;
}
.mr30
{
    margin-left: 30px!important;
}
.red{
    color: red!important;
}
.green{
    color: #006a4e!important;
}
.col-lg-55{
    width: 20%;
   /* padding: 0 5px;*/
    margin-bottom: 10px;
}