select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}
option.option_padding
{
	padding-left:25px;	
}
#error{
	display:none;
	margin:0;
}
.wait
{
	position: relative;
    top: -26px;
}
