a {
    color: #006A4E;
    text-decoration: none;
}
.nav > li > a:hover{
	color:#D23D2B;
}
.button, .list .button {
    background: none repeat scroll 0 0 #006A4E;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    text-decoration: none;
	font-size:100%;
	border:none;
}
.button:hover, .list .button:hover {
    background: none repeat scroll 0 0 #1c9676;
	color:#fff;
}

.m_register a{
	cursor:pointer;
}
.buttons .right {
    float: right;
    text-align: right;
}

/*.m_register input[type="text"], .m_register input[type="email"], .m_register select, .m_register textarea, .m_register input[type="radio"], .m_register input[type="checkbox"]{
	margin:0;
	padding:0;
}*/
.m_register .controls{
	float:left;
	width:100%;
	padding:0 0 10px 0;
}
.scrollbox {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #cccccc;
    height: 200px;
    overflow-y: scroll;
    width: 100%;
}
.scrollbox div.even {
    background: none repeat scroll 0 0 #ffffff;
}
.scrollbox div {
    padding:3px;
	font-size:100%;
}
.scrollbox div.odd {
    background: none repeat scroll 0 0 #e4eef7;
}

form {
    margin: 0;
    padding: 0;
}


/*input[type="text"], input[type="password"] {
    padding: 2px;
}*/

.pagination {
    margin: 0;
}

div.left{
	float:left;
}
div.right{
	float:left;
}
.account_title{
	margin-top:0px;
	padding-bottom:15px;
}
.account_title h1 {
    color: #333;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin:0px;
}

div.required .control-label::before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}
.form-group{
    font-size: 12px;
    font-weight: normal;
}
#coupon_form label{
    font-weight: normal;
}
.hide_area {
    display: none;
}
#coupon_form input[type="radio"] {
    margin-top:4px;
}
.alert {
    padding: 10px 15px;
}










table.form {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
table.form tr td:first-child {
    width: 20%;
	text-align:right;
}
table.form td {
    padding:8px 4px;
}
table.form > * > * > td {
    color: #000000;
}
.list .center {
    padding: 7px;
    text-align: center;
}
.list thead td a, .list thead td {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
	font-size:100%;
}
.list tr.filter td, .list tr.filter:hover td {
    background: none repeat scroll 0 0 #e7efef;
    padding: 5px;
}
.list tbody td {
    background: none repeat scroll 0 0 #ffffff;
    padding: 0 5px;
    vertical-align: middle;
}
.list td {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.table thead > tr > td, .table tbody > tr > td {
    vertical-align: middle;
}
.img-thumbnail {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.text-center {
    text-align: center;
}
.table thead td {
    font-weight: bold;
	font-size:90%;
}
.coupon-list .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	padding:4px 8px;
	font-size:12px;
}

span.required{
	color:#F00;
	font-weight:bold;
}
.maccount{
	min-height:500px;
}

.coupon-title2 {
    color: #333;
    float: left;
    font-family: "open_sansregular";
    font-size: 25px;
    margin: 0 0 20px;
    width: 100%;
	padding-bottom:10px;
	padding-left:1%;
	text-align:left;
}
.vendor-favourite {
    background-color: #006A4E;
    background-image: url("../images/ic_heart_unselected.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    color: #585858;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    left: 10px;
    padding: 10px;
    position: relative;
    top: 7px;
    width: 35px;
	vertical-align:bottom;
}
.vendor-favourite-added, .vendor-favourite:hover {
	background-image: url(../images/ic_heart_selected.png)
}
.vendor-favourite:hover {
	-webkit-box-shadow: 0 2px 2px 1px #C2C2C2;
	-moz-box-shadow: 0 2px 2px 1px #C2C2C2;
	box-shadow: 0 2px 2px 1px #C2C2C2
}

.store-com-box {
    height: 112px;
}
.store-link a{
	font-size:11px;
}

@media (max-width: 1199px) {
.store-com-box {
    height: auto;
}
}
@media (max-width: 991px) {
.store-com-box {
    height: 109px;
}
}
@media (max-width: 991px) {
.store-com-box {
    height: auto;
}
}